<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Group Maker</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="hero-is-success is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand"> 
                        <a class="navbar-item is-size-4" href="/">Study Group Maker</a>
                        <span class="navbar-burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                <a class="navbar-item" href="/#home">Home</a>
                <a class="navbar-item" href="/#about">About</a>
                <a class="navbar-item" href="/#creators">Creators</a>
                <a class="navbar-item" href="/#contact">Contact Us</a>

                {{#if loggedIn}}
                <a class="navbar-item" href="/groups">Groups</a>
                <a class="navbar-item" href="/profile">Profile</a> 

                <button id="logout">logout</button>
                {{else}}
                <a class="navbar-item" href="/login">login</a>
                {{/if}}
                 </div>
                </div>
              </div>
            </nav>
        </div>
     </section>
        <main>
            {{{body}}}
        </main>
    <footer>

    </footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>