<div id="home" class="section is-medium" >
    <h1 class="title is-size-2 has-text-weight-semibold has-text-black px-2">We want to make it easier for people to study together.</h1>

    <h3 class="subtitle is-size-4 has-text-weight-medium has-text-black mt-5">Unlock your potential with our Study Group Maker and join a community of motivated learners.</h3>

    {{!-- <img src="./assets/study-group-homepage.avif" alt="An open book with a pen on it and a notebook underneath."> --}}
</div>
<div id="about">
    <h2 class="about is-size-1 has-text-black has-text-weight-semibold m-3">About</h2>
</div>
<div class="tile is-ancestor is-vertical m-2">
  <div class="tile is-parent is-4">
    <article class="tile is-child box"> 
      <p class="title">Past</p>
      <p class="subtitle">It all started with a dream to better understand material from the boot camp.</p>
    </article>
  </div>
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title">Present</p>
      <p class="subtitle">Fast forward to today, now we can proudly show an application capable of organizing study groups and taking our developer knowledge to the next level.</p>
    </article>
  </div>
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title">Future</p>
      <p class="subtitle">We hope to host our own chat-rooms and video calls that can then be further customized as learning spaces that help improve a student's learning experience by greater leaps.</p>
    </article>
  </div>
</div>
    

    

    
    

