<section id="home">
  <div class="section is-medium">
    <h1 class="title is-size-2 has-text-weight-semibold has-text-black px-2">We want to make it easier for people to
      study together.</h1>

    <h3 class="subtitle is-size-4 has-text-weight-medium has-text-black mt-5">Unlock your potential with our Study Group
      Maker and join a community of motivated learners.</h3>
  </div>
</section>

<section class="about" id="about">
  <div>
    <h2 class="heading">About</h2>
  </div>
  <div id="about-card-container" class="about-card-container">
    <div class="about-card">
      <h3>Past</h3>
      <p>It all started with a dream to better understand material from the boot camp.
      </p>
    </div>

    <div class="about-card">
      <h3>Present</h3>
      <p>Fast forward to today, now we can proudly show an application capable of
        organizing study
        groups and taking our developer knowledge to the next level.</p>
    </div>

    <div class="about-card">
      <h3>Future</h3>
      <p>We hope to host our own chat-rooms and video calls that can then be
        further customized as
        learning spaces that help improve a student's learning experience by greater leaps.</p>
    </div>
</section>

<section id="creators">
  
</section>