<div id="home">
    <h1>We want to make it easier for people to study together.</h1>

    <h3>Unlock your potential with our Study Group Maker and join a community of motivated learners.</h3>

    <img src="./assets/study-group-homepage.avif" alt="An open book with a pen on it and a notebook underneath.">
</div>
<div id="about">
    <h2>About</h2>
    <div>
        <h4>Past</h4>
        <p>It all started with a dream to better understand material from the boot camp.</p>
    </div>
    <div>
        <h4>Current</h4>
        <p>Fast forward to today, now we can proudly show an application capable of organizing study groups and taking our developer knowledge to the next level.</p>
    </div>
    <div>
        <h4>Future</h4>
        <p>We hope to host our own chat-rooms and video calls that can then be further customized as learning spaces that help improve a student's learning experience by greater leaps.</p>
    </div>
</div>
