<section id="login">
  <div class="login-container">
    <div class="login-card">
      <h2 class="is-size-3 p-2">Login</h2>

      <form class="login-form">
        <div class="form-group">
          {{!-- <label for="email-login">email:</label> --}}
          <input class="input mb-3" type="text" id="email-login" placeholder="email" />
        </div>
        <div class="form-group">
          {{!-- <label for="password-login">password:</label> --}}
          <input class="input mb-3" type="password" id="password-login" placeholder="password" />
        </div>
        <div class="form-group">
          <button class="button has-background-info-dark" type="submit">login</button>
        </div>
        <div id="login-fail" class="has-text-danger"></div>
      </form>
    </div>
    <hr class="hr">
    <div class="login-card">
      <h2 class="is-size-3 mt-4 p-2">Signup</h2>

      <form class="signup-form">
        <div class="form-group">
          {{!-- <label for="first-name-signup">first name:</label> --}}
          <input class="input mb-3" type="text" id="first-name-signup" placeholder="first name" />
        </div>
        <div class="form-group">
          {{!-- <label for="last-name-signup">last name:</label> --}}
          <input class="input mb-3" type="text" id="last-name-signup" placeholder="last name" />
        </div>
        <div class="form-group">
          {{!-- <label for="email-signup">email:</label> --}}
          <input class="input mb-3" type="email" id="email-signup" placeholder="email" />
        </div>
        <div class="form-group">
          {{!-- <label for="user-name-signup">user-name:</label> --}}
          <input class="input mb-3" type="text" id="user-name-signup" placeholder="user-name" />
        </div>
        <div class="form-group">
          {{!-- <label for="password-signup">password:</label> --}}
          <input class="input mb-3" type="password" id="password-signup" placeholder="password" />
        </div>

        <div class="form-group">
          <button class="button has-background-info-dark" type="submit">submit</button>
        </div>
        <div id="signup-fail" class="has-text-danger"></div>
      </form>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>