:root {
    background-color: rgb(219, 213, 213);

}
.body {
    background-image: url("/assets/study-group-homepage.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.title {
    background-color: rgb(242, 240, 240, .50);
    width: 80vw;
       
}
.login-form {
    margin-right: 60vw;
    margin-left: 5vw;
}
.signup-form{
    margin-right: 60vw;
    margin-left: 5vw;
}
.topOfProfile {
    display: flex;
    justify-content: space-around;
    margin-right: 10vw;
    
}
.formWrapper {
    width: 45vw;
}
.profileImg {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 3px;
    max-width: 300px;
    max-height: 440px;
   
}
.image {
    height: auto;
    width: 100%;
    padding: 0px;

}


